*
{ 
    font-family: 'Be Vietnam Pro', sans-serif;}

body{ 
    background-color: white;
} 
/*INICIO HEADER*/
header{ 
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.logo-container{ 
    background-image: url(../imagenes/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 25%;

} 

.nav-header{ 
    display: none;
} 

.button-of-contact{ 
    display: none;
} 

.icon-container{ 
    background-image: url(../imagenes/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 25%;
} 



@media(min-width: 1440px){
    header {
    justify-content: center;
} 
.logo-container{ 
    width: 12%;

} 
    .icon-container{ 
        display: none;
    } 
    .button-of-contact{ 
        display: block;
        background-color: #8B48BF;
        height: 1em;
        border-radius: 1.5em;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 8%;
        margin-left: 1.5em;
    }
    .button-of-contact button{
        color: white;
        font-weight: bold;
        background-color: transparent;
        border: none;
    }
    .nav-header{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    } 

    .ul-header{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        padding: 0;
    } 

    .ul-header a{ 
     text-decoration: none;
     color: #232851;
     justify-content: center;
     align-items: center;
     flex-basis: 25%;
     transition: color 500ms;

    } 
    .ul-header a li{ 
        list-style: none;
        text-align: center;

    } 

    .ul-header li:hover{ 
        color: #1E1E26;
        animation:jello-diagonal .9s linear both
       } 

 } 
 @keyframes jello-diagonal{0%{transform:skew(0deg 0deg)}30%{transform:skew(25deg 25deg)}40%{transform:skew(-15deg,-15deg)}50%{transform:skew(15deg,15deg)}65%{transform:skew(-5deg,-5deg)}75%{transform:skew(5deg,5deg)}100%{transform:skew(0deg 0deg)}}


/*FIN HEADER  { } */

/* INICIO PRINCIPAL SECTIOM */
.principal-section{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 130vh;


}
.principal-section .img-container{ 
    background-image: url(../imagenes/padel-intro.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 85%;

}

.principal-section .title-container{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2em;
}

.title-container h1{
    width: 70%;
    text-align: end;
    font-size: 40px;
    padding-right: 1em;
    color: #232C50;
 }
 .title-container h4{
    width: 80%;
    text-align: end;
    font-size: 15px;
    padding-right: 2.5em;
    color: #232C50;
 }

 .btn-container{
    width: 100%;
    padding-right: 3em;
    display: flex;
    justify-content: flex-end;

  } 
  .button-of-contact-2 { 
    background-color: #8B48BF;
        height: 1em;
        border-radius: 1.5em;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 25%;
        
    }
    .button-of-contact-2:hover{
        animation:jello-diagonal 1s linear both
    }
    .button-of-contact-2 button{
        color: white;
        font-weight: bold;
        background-color: transparent;
        border: none;
    }

    @media(min-width: 1440px){
        .principal-section{ 
            flex-direction: row;
        }
        .principal-section .img-container{ 
            width: 50%;
        }
        
        .principal-section .title-container{ 
           width: 40%;
           height: 100%;
        }
     } 
/* FIN PRINCIPAL SECTIOM */

/*INICIO SECOND SECTION { } */

/*INCIIO PRIMER ARTICLE*/
.second-section{
    display: flex;
    flex-direction: column;
    width: 100%;
 }
.second-section .different-between-pros{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #3CDDF3
}

.different-between-pros h3{ 
    color: white;
    text-align: start;
    width: 70%;
    font-weight: bold;
    font-size: 30px;
    padding-left: 1em;
}

.different-between-pros h6{ 
    color: white;
    text-align: start;
    width: 65%;
    padding-left: 3em;
}
.desktop-h6{
    display: none;
}
@media(min-width: 1440px){
    .second-section .different-between-pros{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #8B48BF;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .different-between-pros h3{ 
        color: white;
        text-align: start;
        width: 25%;
        font-weight: bold;
        font-size: 30px;

    }
    
    .different-between-pros h6{ 
        color: white;
        text-align: start;
        width: 20%;
    }
    .desktop-h6{
        display: block;
    }
    .mobile-h6{
        display: none;
    }
 } 
 
/*FIN PRIMER ARTICLE*/


/*INICIO SEGUNDO ARTICLE { } */
.points-article{
    width: 100%;
    padding: 3em 0em 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.points-article .container{
    width: 90%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.container h4{
    margin: 0;
}
.container .subtitle{
    width:100%;
    background: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;
    margin-bottom: .7em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
}
.subtitle .number{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    background: #8B48BF;
    border-radius: 1em;
    height: 100%;
    padding: .5em 0em .5em 0em;
    color: white;
}
.subtitle .subtitle-2{
    padding-top: .5em;
}
.paragraph h5{
    color: #B3B2B7;
}
@media(min-width: 1440px){
.points-article{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.points-article .container{
    width: 40%;
}
.subtitle .number{
    margin-right: 1em;
}
.container .subtitle{
    width:100%;
    background: transparent
}
.paragraph{
    padding-left: 6.2em;
}
}
/*FIN SEGUNDO ARTICLE { } */


/*FIN SECOND SECTION*/


/*Inicio  third  SECTION*/
.third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.third-section h3{
    width: 100%;
    text-align: center;
    color: #242E53;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 3em;
}

.third-section .card{
    padding: 0em 0em 2em 0em;
    width: 95%;
    position: relative;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .big-container-sportsman{ 
    width: 100%;
    position: relative;
} 
.card .sportsman-container{
    background-image: url(../imagenes/avatar.lebron.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 3em;
    width: 20%;
    height: 5em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -20px;
    
}

.card h4{
    text-align: center;
    color: #3F4868;
    width: 100%;
    font-size: 18px;
    margin: 4.5em 0 0 0;
}
.card h6{
    text-align: center;
    width: 100%;
    color: #B9B9C1;

}

#card-on-desktop{
    display: none;
}

.btn-more-container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-more-container a{
    background-color: #8B48BF;
    height: 1em;
    border-radius: 1.5em;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 25%;
}
.btn-more-container a:hover{
    animation:jello-diagonal 1s linear both
}
.btn-more-container a button{
    border: none;
    background-color: transparent;
    color: white;
}

@media(min-width: 1440px){
    #card-on-desktop{
        display: block;
    }
    .third-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;
    }    
    .third-section .card{
        padding: 0em 0em 2em 0em;
        width: 30%;
    }
    .third-section h3{
        margin-bottom: 1em;
    }
    #navarro{
        background-image: url(../imagenes/avatar-navarro.png);
    }
    #sanyo{
        background-image: url(../imagenes/avatar-sanyo.png);
    }
    .btn-more-container{
        margin-bottom: 7em;
}
    .btn-more-container a{
        width: 10%;
    }
    
}
/*FIN third   SECTION*/

/*inicio last   SECTION*/
.last-section{
    background-color: #3CDDF3;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.last-section h3{
    color: white;
    width: 45%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.btn-goforit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-goforit-container a{
    background-color: #232851;
    height: 1em;
    border-radius: 1.5em;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 25%;
}
.btn-goforit-container a:hover{
    animation:jello-diagonal 1s linear both
}
.btn-goforit-container a button{
    border: none;
    background-color: transparent;
    color: white;
}
.last-section-container{
   display: none;
}

@media(min-width: 1440px){
    .last-section{
        background-color: #8B48BF;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-top: 2em;
    }
    .last-section h3{
        color: white;
        width: 20%;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
    }
    .btn-goforit-container{
        width: 15%;
        height: 80%;
    }
    
    .btn-goforit-container a{
        padding: 1.5em;
        width: 100%;
        background-color: white;
        color: #8B48BF;
        border-radius: 3em;
    }

     .btn-goforit-container a button{
        color: #8B48BF;
        font-size: 18px;
    }
   
}


/*FIN last   SECTION*/

/*FOOTER { }*/

.mobile-footer{ 
    width: 100%;
    background-color: #1E1E26;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0em 4em 0em;
}

.mobile-footer form{ 
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5em;
}

.mobile-footer form input{
    padding: 1em;
    width: 80%;
    background-color: white;
    border-radius: 2em;
 }

 .mobile-footer form a{ 
    width: 20%;
    background-color: #8B48BF;
    border-radius: 1.5em;
    border: none;
    height: 100%;
    padding: .7em;
 }

 .mobile-footer form a button{ 
    width: 100%;
    background-color: #8B48BF;
    color: white;
    border: none;
 }

 .navoflis{ 
    width: 100%;
    height: 80%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
 }

 .navoflis .footer-ul{ 
    height: 60%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 }
.footer-ul a{ 
    width: 40%;
    height: 2em;
    text-decoration: none;
    color: white;
    margin-right: 1.3em;
}

.footer-ul a li{ 
    list-style: none;
    color: white;
}

.icon-container-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin: 3em 0em 3em 0em;
 }

 .icon-container-footer i{ 
    color: white;
    font-weight: bold;
 }

 .footer-img-container{ 
   background-image: url(../imagenes/logo.svg);
   background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 35%;
    height: 2em;
 

}
.copy-container{ 
    width: 50%;
    color: #8C8C94;
 }

 .copy-container h6{ 
    width: 100%;
    text-align: center;
    color: #8C8C94;
 }

 .footer-desktop{ 
    display: none;
 }

 @media(min-width: 1440px){ 
    .footer-desktop{ 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        height: 30vh;
        background-color: #1E1E26;
        padding-top: 2em;
     }
     .big-div{
        width: 80%;
        display: flex;
        justify-content: space-between;
        height: 100%;
      }
     .first-art{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 20%;
        height: 70%;

     }
     .logo-container-footer-d{ 
        width: 75%;
        height: 1.5em;
        background-image: url(../imagenes/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
     }
     .icon-container-footer-d{
        width:70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .icon-container-footer-d i{ 
       color: white;
       font-weight: bold;
     }
     .second-art{
        width: 60%;
        height: 65%;
        display: flex;
        justify-content: center;
        padding: 0%;
      }
      .second-art nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
       }

       .second-art nav ul{ 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding:0;
       }
       .second-art nav ul a{ 
        text-align: left;
        width: 15%;
        height: 25%;
        text-decoration: none;

       }
       .second-art nav ul a li{ 
        color: white;
        list-style: none;
        width: 100%;
       }

       .third-article{ 
        width: 20%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    

     }

     .third-article form{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: .2em;
     }
     .third-article form input { 
        width: 80%;
        border-radius: 2em;
        padding: .8em;
        background-color: white;
     }
     .third-article form a {
        width: 15%;
        padding: .6em;
        border-radius: 1.8em;
        background-color: #8B48BF;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .third-article form a button { 
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
     }       
     .third-article h6{ 
        margin: 0em;
        color: #8C8C94;
     }
     .mobile-footer{ 
        display: none;
     }
 }